@charset "UTF-8";
* {
  /*   border: solid 2px black; */
  vertical-align: top;
  position: relative;
  font-family: 微軟正黑體;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.bottom {
  height: 768px;
  padding: 0px;
  margin: 0px;
  font-size: 0;
}

.left, .right {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.left {
  width: 30%;
  background-color: #9AC2C9;
}

.right {
  width: 70%;
  background-color: #D9E0D7;
}

svg {
  padding: 100px;
  width: 100%;
  max-width: 40px;
  height: 40px;
}
svg .sun {
  fill: #F9E784;
  stroke: rgba(249, 231, 132, 0.5);
  stroke-width: 20px;
  stroke-dasharray: 5px;
}

.name {
  font-size: 35px;
  border-style: none;
  position: absolute;
  top: 300px;
  bottom: 50px;
  margin-left: 103px;
  text-align: center;
  line-height: 40px;
  color: #6D6B72;
}

hr.style1 {
  border: none;
  border-top: 4px double #F5F5F5;
  text-align: center;
  top: 200px;
  position: relative;
}

.contact {
  font-size: 20px;
  border-style: none;
  position: absolute;
  top: 500px;
  bottom: 50px;
  margin-left: 85px;
  text-align: center;
  font-weight: 100;
  color: #6D6B72;
  letter-spacing: 3px;
}

.fa-facebook-square {
  border: none;
  position: absolute;
  top: 550px;
  margin-left: -100px;
  color: #6D6B72;
}

.fa-envelope {
  border: none;
  position: absolute;
  top: 635px;
  margin-left: 35px;
  color: #6D6B72;
}

.fa-mobile {
  border: none;
  position: absolute;
  top: 820px;
  margin-left: 38px;
  color: #6D6B72;
}

.fbcontact, .email, .phone {
  border: none;
  position: absolute;
  color: #6D6B72;
  box-sizing: border-box;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 15px;
  margin-left: 75px;
}

.fbcontact {
  top: 675px;
  margin-left: 75px;
}

.email {
  top: 755px;
}

.phone {
  top: 835px;
}

.fa-user {
  border: none;
  position: absolute;
  color: #6D6B72;
  margin-left: 10px;
  top: 140px;
}

.profile {
  border: none;
  position: absolute;
  color: #6D6B72;
  font-size: 20px;
  margin-left: 80px;
  top: 140px;
  letter-spacing: 5px;
}

.content {
  top: 30px;
}

hr.style2 {
  position: relative;
  height: 3px;
  border: 0;
  box-shadow: 0 10px 10px -10px #C8C9C7 inset;
  width: 65%;
  margin-left: 50px;
  top: 170px;
}

.intro {
  border: none;
  padding-left: 50px;
  padding-top: 132px;
  color: #6D6B72;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.fa-pencil-square-o {
  border: none;
  margin-left: 50px;
  margin-top: 22px;
  color: #6D6B72;
}

.experience {
  border: none;
  position: absolute;
  color: #6D6B72;
  font-size: 20px;
  margin-left: 80px;
  margin-top: -25px;
  letter-spacing: 5px;
}

hr.style3 {
  position: relative;
  height: 3px;
  border: 0;
  box-shadow: 0 10px 10px -10px #C8C9C7 inset;
  width: 65%;
  margin-left: 50px;
}

.title {
  position: absolute;
  color: #6D6B72;
  margin-left: 80px;
  line-height: 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 20px;
}

.l {
  top: 30px;
  margin-top: 5px;
  font-size: 10px;
  margin-left: 50px;
  padding: 10px 0px 15px 0px;
}

.p {
  font-size: 10px;
  margin-left: 150px;
}

.fa-graduation-cap {
  margin-left: 50px;
  margin-top: 22px;
  color: #6D6B72;
}

.education {
  position: absolute;
  color: #6D6B72;
  font-size: 20px;
  margin-left: 80px;
  margin-top: -25px;
  letter-spacing: 5px;
}

.fa-laptop {
  margin-left: 50px;
  margin-top: 22px;
  color: #6D6B72;
}

.skills {
  border: none;
  position: absolute;
  color: #6D6B72;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 80px;
  letter-spacing: 5px;
}

.box1 {
  position: absolute;
  border: solid 1px #C8C9C7;
  height: 12px;
  width: 200px;
  border-radius: 4px;
  margin-left: 210px;
  margin-top: -15px;
  box-sizing: border-box;
  padding: 2px;
}

.inbox1 {
  position: absolute;
  border: solid 1px #FF5757;
  background-color: #FF5757;
  height: 6px;
  width: 160px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

.inbox2 {
  position: absolute;
  border: solid 1px #FF5757;
  background-color: #FF5757;
  height: 6px;
  width: 80px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

.inbox3 {
  position: absolute;
  border: solid 1px #FF5757;
  background-color: #FF5757;
  height: 6px;
  width: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

.fa-trophy {
  margin-left: 50px;
  margin-top: 22px;
  color: #6D6B72;
}

.certificate {
  position: absolute;
  color: #6D6B72;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 80px;
  letter-spacing: 5px;
}
