<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Resume-border</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <div class="bottom">
    <div class="left">
      <div class="name">蔡宗翰   <br/>(cai zong han)</div>
      <hr class="style1"/>
      <div class="contact">CONTACT</div><a class="fa fa-github" aria-hidden="true" style="font-size:30px;" href="https://github.com/aceruser2" target="https://github.com/aceruser2"></a>
    </div>
    <div class="right"><i class="fa fa-user" style="font-size:25px"></i>
      <div class="profile"> 自我介紹</div>
      <hr class="style"/>
      <div class="intro">
        <ul>
          <li class="content">畢業於能源領域</li>
          <li class="content">python後端3年經驗</li>
          <li class="content">java兩年經驗</li>
          <li class="content">開發環境mac or linux</li>
        </ul>
      </div><i class="fa fa-pencil-square-o" style="font-size:27px"></i>
      <div class="experience">EXPERIENCE</div>
      <hr class="style2"/>
      <div class="intro2">
        <ul> 
          <li class="l" v-for="data in import"> {{data}}</li>
        </ul>
      </div><i class="fa fa-graduation-cap" style="font-size:26px"></i>
      <div class="education">EDUCATION</div>
      <hr class="style2"/>
      <div class="intro2">
        <ul>
          <li class="l" v-for="(l,s) in school">{{l}} {{s}}</li>
        </ul>
      </div><i class="fa fa-laptop" style="font-size:26px"></i><i class="fa fa-trophy" style="font-size:27px"></i>
      <div class="certificate">CERTIFICATE</div>
      <hr class="style2"/>
      <div class="intro2">
        <ul>
          <li class="l">Linguaskill Business A2</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
