#app
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  .bottom
    .left
      svg(veiewbox="-50 -50 100 100")
        circle.sun(cx=0 cy=0 r=35)
      .name
        |蔡宗翰   
        br
        |(cai zong han)
      hr.style1
      .contact CONTACT
      a.fa.fa-facebook-square(aria-hidden='true', style='font-size:30px;')(href="https://www.facebook.com/profile.php?id=100003530897718&fref=pb&hc_location=friends_tab&pnref=friends.all&__mref=message_bubble" target="_blank")
      
     
      
     
      .fbcontact
      .email 
      .phone 

    .right
      i.fa.fa-user(style='font-size:25px')
      .profile  github程式連結 
      hr.style2
      .intro
        ul
          li.content 
            a(href="https://github.com/aceruser2" target="_blank") my github


      i.fa.fa-pencil-square-o(style='font-size:27px')
      .experience EXPERIENCE
      hr.style3
      p.title python自學經歷
        ul 
          li.l(v-for="data in import")  {{data}}

      i.fa.fa-graduation-cap(style='font-size:26px')
      .education EDUCATION
      hr.style3
      p.p(v-for="(l,s) in school") {{l}} {{s}}
       
      i.fa.fa-laptop(style='font-size:26px')
     
     
              
      i.fa.fa-trophy(style='font-size:27px')
      .certificate CERTIFICATE
      hr.style3
      .exper1  CERTIFICATE
        ul
          li.l Intro to Python for Data Science from datacamp